{% extends 'reviews/base.html' %}

{% block nav %}
{% include '_includes/nav.html' with active='study_section' %}
{% endblock nav %}

{% block title %}Study Section Review Stat{% endblock title %}

{% block content %}
<h1>Study Section Review Stat</h1>

{% for proposal, avg_score, scores, summary in object_list %}
	<div class="logo-desc">
		<div class="row">
			<div class="col-sm-12">
				<h2>
					Rank {{ forloop.counter }} &ndash; Proposal #{{ proposal.pk }}
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="{{ proposal.logo.url }}" alt="" class="img-responsive">
			</div>
			<div class="col-sm-8">
				<h4>Submitter</h4>
				<p>{{ proposal.owner.get_repr_name }}</p>
				<h4>Description</h4>
				<p>{{ proposal.description }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h4>Average Impact Score</h4>
				<p>Average Impact score: {{ avg_score|stringformat:"1.2f" }}</p>
				<h4>Summary</h4>
				<p>{{ summary|linebreaks }}</p>
			</div>
			<div class="col-sm-8">
				<div class="plot histogram" data-plot-data="{{ scores }}">

				</div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock content %}

{% block extra_js %}
	<!-- Plotly.js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock extra_js %}

{% block scripts %}
<script>
$('.plot.histogram', '.logo-desc').map(function(){
	var $this = $(this);
	var data = [
		{
			x: $this.data('plotData'),
			type: 'histogram',
			autobinx: false,
			xbins: {
				end: 6.5,
				size: 1,
				start: 0.5
			}
		}
	];
	Plotly.newPlot(this, data, {bargap: 0.05, xaxis: {range: [0.5, 6.5]}});
});
</script>
{% endblock scripts %}
